body{
    background-color: #FFF;
    overflow-x: hidden;
    font-weight: 200;
}

header {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

main{
    min-height: 85vh;
}

footer {
    color: #777;
    align-items: center;
    display: flex;
    justify-content: center;
}

.logo
{
    height: fit-content;
    margin-left: 1.2rem
}

.logo img{
    width: 20%;
}

.title-container{
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #001c7d;
    font-size: 2em;
    margin-bottom: 3vh;
}

.title{
    font-size: 80%;
    width: fit-content;
    color: #FFF;
    font-weight: 300;
}

.container-exception{
    display: flex;
    justify-content: center;
}

.exception{
    width: fit-content;
    font-size: 1.5rem;
}

.btn-container{
    position: absolute;
    right: 10px;
}

.btn-logout{
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s linear;
    background-color: #001c7d;
    color: white;
}

.btn-logout:hover{
    filter: brightness(90%);
    transform: scale(1.1);
}

.btn-logout:active{
    transform: scale(0.9);
    filter: brightness(80%);
}

.contatos-container{
    margin: 0 2vw 2vh 2vw;
}

.solicitacao {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #6c63ff;
    color: #FFF;
    width: 100%;
    padding: 20px;
    border-radius: 7px;
    margin-top: 2vh;
}


.fieldsSolicit {
    flex-direction: column;
    display: none;
    word-wrap: break-word;
}

.fieldsSolicit p{
    margin-top: 20px;
}

.idSolicit{
    display: flex;
    align-items: center;
}

.arrow {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #FFF transparent transparent transparent;
    margin-left: 1vw;
  }