body{
    background-color: #7C616C;
}

header{
    display: flex;
    align-items: center;
    height: 10vh;
    background-color: #817E9F;
    margin-bottom: 7vh;
}

main{
    color: #E5E9EC;
}

.title-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.title{
    width: fit-content;
    color: white;
    text-shadow: 2px 2px black;
}

.container-exception{
    display: flex;
    justify-content: center;
}


.exception{
    width: fit-content;
    font-size: 1.7rem;
}

.btn-container{
    position: absolute;
    right: 10px;
}

.btn-logout{
    padding: 10px;
    background-color: #7FC29B;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s linear;
}

.btn-logout:hover{
    filter: brightness(90%);
    transform: scale(1.1);
}

.btn-logout:active{
    transform: scale(0.9);
    filter: brightness(80%);
}

.solicitacao{
    display: flex;
}