body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6431B6;
}

form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 15px;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.imagem {
    width: 150px;
    align-self: center;
    text-align: center;
}

.imagem img {
    width: 100%;
}

label {
    font-size: 0.75rem;
    margin: 8px 0px;
    font-weight: 600;
    color: #000000c0
}

input,
select, 
textarea {
    padding: 8px 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 6px #0000001c;
}

input:hover,
select:hover, 
textarea:hover {
    background-color: #d8d7d7;
    transition: all 0.2s linear;
}

textarea {
    min-height: 150px;
}

input[type="submit"] {
    align-self: center;
    width: max-content;
    padding: 8px 16px;
    margin-top: 16px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
}

input[type="submit"]:hover {
    scale: 1.1;
    transition: all 0.2s linear;
    background-color: #bdbdbd;  
}

@media (max-width: 928px) {
   form {
    width: 80vw;
   } 
}