body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #001C7D;
}

/* 2. Estilizações do header */
header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 1px 10px #2c2c2c;
    background-color: #fff;
}

ul {
    gap: 1rem;
}

ul li a {
    text-decoration: none;
    font-weight: 550;
    color: #001c7d;
}

.logo {
    height: 70px;
    width: 70px;
}

.logo a {
    width: inherit;
    height: inherit;
}

.logo img {
    width: 100%;
}

.style-login {
    text-decoration: underline;
    border: 0.1rem solid rgb(220, 220, 220);
    padding: 0.8rem;
    border-radius: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 15px;
    padding: 10px 30px;
    border-radius: 8px;
    background-color: #FFFFFF;
}

.imagem {
    width: 150px;
    align-self: center;
    text-align: center;
}

.imagem img {
    width: 100%;
}

.confirm{
    margin: 0 auto;
}

label {
    font-size: 0.75rem;
    margin: 8px 0px;
    font-weight: 600;
    color: #000000c0
}

input,
select, 
textarea {
    padding: 8px 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 6px #0000001c;
    transition: all 0.2s linear;
}

input:hover,
select:hover, 
textarea:hover {
    background-color: #d8d7d7;
}

input:focus-visible,
select:focus-visible,
textarea:focus-visible{
    outline: 1px solid #6c63ff;
}

textarea {
    min-height: 150px;
}

input[type="submit"] {
    align-self: center;
    width: max-content;
    padding: 8px 16px;
    margin-top: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #FFF;
    background-color: #001C7D;
    transition: scale 0.2s linear;
}

input[type="submit"]:hover {
    scale: 1.1;
    filter: brightness(80%);
}

input[type="submit"]:active {
    scale: 0.9;
}

@media (max-width: 928px) {
   form {
       width: 80vw;
   } 
}