.estrutura-curso {
    border: red 1px solid;
    padding: 2.5rem;
    margin: 2rem;
    gap: 2rem;
}

.estrutura-curso h2{
    padding: 1rem;
    font-weight: 600;
}

.estrutura-curso h4{
    padding: 2rem;
}

.box-semestre {
    border: 1px red solid;
    padding: 2rem;
    margin: 2rem;
}