.estrutura-curso {
    background-color: #001c7d;
    padding: 2.5rem;
    color: #fff;
    width: 100%;
}

.estrutura-curso h2 {
    padding: 1rem;
    font-weight: 600;
    text-align: center;
}

.estrutura-curso h4{
    padding: 2rem;
}

.box-semestre {
    border: 1px rgb(171, 167, 167) solid;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1vh;
    background-color: #fff;
    color: #000;
}

.semestre {
    display: flex;
    align-items: center;
    width: max-content;
}

main li {
    list-style-type: disc;
}

.professor {
    border: 1px solid rgb(157, 157, 157);
    border-radius: 0.5%;
    background-color: #001c7d;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5%;
    padding: 3%;
    gap: 5%;
    width: 85%;
}

.corpo-docente {
    display: contents;
}

.professor, .professor img{
    border-radius: 10px;
}

.corpo-docente h2{
    margin-top: 2rem    ;
}

.professor p {
    border: 1px solid rgb(157, 157, 157);
    margin: 5%;
    padding: 1.5%;
    background-color: #001c7d;
    color: #fff;
    border-radius: 1%;
}

.corpo-docente h3 {
    margin-top: 3%;
    text-align: center;
    text-decoration: underline;
}

.professor img {
    width: 30%;
}

@media (max-width: 728px) {
    .box-semestre,
    .professor {
        flex-direction: column;
        margin: 40px auto;
        min-width: 70vw;
    }

    .semestre {
        flex-direction: column;
        max-width: 90%;
        margin: 10px 0px;
        padding: 10px;
        border-bottom: 2px solid #001c7d;
    }
    
    .semestre h4 {
        text-align: center;
        padding: 20px;
    }
}