ul {
    align-items: center;
    display: flex;
    
    gap: 1rem;
}

ul li a{
    text-decoration: none;
    color: #001c7d;
    font-weight: 550;
}


.menu {
    background-color: #fff;
    height: 8rem;
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
}

main {
    border: 1px red solid;
    height: 30rem;
}

main h1{
    font-size: large;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #001c7d;
}

.paragrafo-img {
    height: 15rem;
    background-color: #001c7d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    margin: 5rem;
    border-radius: 9px;
    text-align: justify;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.paragrafo-img a:visited {
    color: #fff;
}

.paragrafo-img img {
    height: 10rem;
    padding-right: 5rem;
}

.paragrafo2 {
    flex-direction: row-reverse;
}

.paragrafo2 img {
    padding-left: 5rem;
}

footer {
    color: #777;
    padding: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
}