/* 1. Estilizações gerais */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

.div-flex-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    overflow-x: hidden;
}

/* 2. Estilizações do header */
header {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 1px 10px #2c2c2c;
    background-color: #fff;
}

ul {
    gap: 1rem;
}

ul li a {
    text-decoration: none;
    font-weight: 550;
    color: #001c7d;
}

.logo {
    height: 70px;
    width: 70px;
}

.logo a {
    width: inherit;
    height: inherit;
}

.logo img {
    width: 100%;
}

.style-login {
    text-decoration: underline;
    border: 0.1rem solid rgb(220, 220, 220);
    padding: 0.8rem;
    border-radius: 1rem;
}

/* 3. Estilizações da main */

main h1{
    font-size: large;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #001c7d;
}

/* 3.1 section slider */
.sec-slider {
    height: calc(100vh - 100px);
    background-color: #fff;
}

.slider {
    height: inherit;
    width: 300vw;
}

.slide {
    display: flex;
    justify-content: center;
    height: inherit;
    width: 100vw;
}

.slide img {
    width: 95%;
    height: 100%;
    border-radius: 20px;
    filter: brightness(70%);
}

.setas-slide {
    width: 98vw;
    justify-content: space-between;
    transform: translateY(-455%);
    padding: 10px 50px 10px 65px;
}

.setas-slide i {
    font-size: 40px;
    color: #fff;
    cursor: pointer;
}

.botoes-slide {
    width: 100vw;
    transform: translateY(-271%);
    padding: 10px;
}

.botao-slide {
    height: 15px;
    width: 15px;
    border: 2px solid #fff;
    border-radius: 8px;
    cursor: pointer;
}

.botao-slide:not(:last-child) {
    margin-right: 20px;
}

/* 3.1 section conteúdo */
h2 {
    margin: 1rem;
    text-align: center;
    color: #001c7d;
}

.paragrafo-img {
    height: max-content;
    background-color: #001c7d;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.5rem;
    margin: 1rem 5rem 2rem 5rem;
    border-radius: 9px;
    text-align: justify;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.paragrafo-img a:visited {
    color: #fff;
}

.paragrafo-img img {
    height: 10rem;
    padding-right: 5rem;
}

.paragrafo2 {
    flex-direction: row-reverse;
}

.paragrafo2 img {
    padding-left: 5rem;
}

/* 4.0 estilizações do footer */
footer {
    color: #777;
    padding: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
}