@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Noto+Sans:wght@400;700&family=Righteous&family=Sarala:wght@400;700&display=swap');


* {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
}

a{
    color: red;
}


.div-flex-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-flex-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {    
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 1px 1px 10px #2c2c2c;
    background-color: #fff;
}

.fechar-menu {
    display: none;
    align-self: flex-end;
    margin: 20px;
    padding: 5px 8px;
    font-size: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.fechar-menu i {
    font-size: 30px;
}

ul {
    gap: 1rem;
}

ul li a {
    text-decoration: none;
    font-weight: 550;
    color: #001c7d;
}

.logo {
    height: 70px;
    width: 70px;
}

.logo a {
    width: inherit;
    height: inherit;
}

.logo img {
    width: 100%;
}

.style-login {
    text-decoration: underline;
    border: 0.1rem solid rgb(220, 220, 220);
    padding: 0.8rem;
    border-radius: 1rem;
}

.menu {
    display: none;
    justify-content: space-between;
    width: 48px;
    height: 40px;
    cursor: pointer;
}

.menu .linha-menu {
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background-color: #001c7d;
}

footer {
    color: #777;
    padding: 3rem;
    align-items: center;
    display: flex;
    justify-content: center;
}

@media (max-width: 650px) {
    header {
        justify-content: space-between;
    }
    
    .menu {
        display: flex;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 50vw;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 999;
        padding: 10px 0px 0px 20px;
        background-color: #001c7d;
    }

    .fechar-menu {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav li:last-child {
        margin-top: 15px;
    }

    nav li {
        padding: 10px;
        width: 100%;
    }

    ul > li > a {
        color: #fff;
    }
}